# 도전문제 2.1

In [ ]:
height = 1.72
weight = 78.8
bmi = weight / height **2
print(bmi)

# 도전문제 2.2

In [ ]:
radi = 20
pi = 3.14
area = pi * radi ** 2
rou = 2 * radi * pi
print("반지름 {0}의 면적 : {1}, 지름 : {2}".format(radi, area, rou))

radi = 30
area = pi * radi ** 2
rou = 2 * radi * pi
print("반지름 {0}의 면적 : {1}, 지름 : {2}".format(radi, area, rou))

# 도전문제 2.3

In [ ]:
import turtle

t= turtle.Turtle()
t.shape('turtle')

t.circle(50)
t.circle(100)
t.circle(200)
t.left(90)
t.circle(50)
t.circle(100)
t.circle(200)
t.left(90)
t.circle(50)
t.circle(100)
t.circle(200)
t.left(90)
t.circle(50)
t.circle(100)
t.circle(200)

# 도전문제 2.4

In [ ]:
import turtle

t= turtle.Turtle()
t.shape('turtle')

t.circle(50)
t.circle(100)
t.circle(200)
t.left(90)
t.circle(50)
t.circle(100)
t.circle(200)
t.left(90)
t.circle(50)
t.circle(100)
t.circle(200)
t.left(90)
t.circle(50)
t.circle(100)
t.circle(200)

# 도전문제 2.5

In [ ]:
x = 6
y = 7
print ("1)", x + y)

x = '7'
y = '6'
print ("2)", x + y)

x = '7'
y = '6'
print ("3)", x + y + x)

x = 6
y = 7
print ("4)", x + y + x + y)

# 도전문제 2.6

In [ ]:
height = float(input("키를 입력하세요 cm: ")) / 100
weight = float(input("몸무게를 입력하세요 Kg: ")) 
bmi = weight/height ** 2
print(bmi)

In [ ]:
a = int(input('수를입력하세요'))
b = int(input('수를입력하세요'))
sum = a + b
avg = sum / 2
print("합 : ", sum, "평균 : ", avg)

In [ ]:
a = int(input('수를입력하세요'))
b = int(input('수를입력하세요'))
c =  int(input('수를입력하세요'))
sum = a + b + c
avg = sum / 3
print("합 : ", sum, "평균 : ", avg)

# 도전문제 2.7

In [ ]:
sports = input("어떤 스포츠 입니까?")
stardium = input("경기장은 어디입니까? ")
w_team = input("이긴팀은 어디입니까? ")
l_team = input("진 팀은 어디입니까? ")
best_player = input("우수선수는 누구입니까? ")
score = input("스코어는 몇대몇입니까? ")

print("=" * 50)
print("오늘 " + stardium + "에서 " + sports +" 경기가 열렸습니다.")
print(w_team +" 과 " + l_team + "은 치열한 공방전을 펼쳤습니다.")
print(best_player + "의 맹활약으로 " + w_team + "가" + l_team + "을 " + score + "로 이겼습니다.")
print("=" * 50)

# Lab 2-1

In [ ]:
height = 1.85
weight = 89.4
bmi = weight/height ** 2
print(bmi)

# Lab 2-2

In [ ]:
radi = 20
pi = 3.14
area = pi * radi ** 2
print(area)

# Lab 2-3

In [ ]:
import turtle

t= turtle.Turtle()
t.shape('turtle')

t.circle(100)
t.circle(200)

# Lab 2-4

In [ ]:
pri = 10000000
rate = 0.03
year = 5

money = pri * (1.0 + rate) ** year
print("원금 : ", pri)
print("이율 : ", rate)
print("기간 : ", year)
print("수령금액 : ", money)

# Lab 2-5

In [ ]:
stardium = input("경기장은 어디입니까? ")
w_team = input("이긴팀은 어디입니까? ")
l_team = input("진 팀은 어디입니까? ")
best_player = input("우수선수는 누구입니까? ")
score = input("스코어는 몇대몇입니까? ")

print("=" * 50)
print("오늘 " + stardium + "에서 야구 경기가 열렸습니다.")
print(w_team +" 과 " + l_team + "은 치열한 공방전을 펼쳤습니다.")
print(best_player + "의 맹활약으로 " + w_team + "가" + l_team + "을 " + score + "로 이겼습니다.")
print("=" * 50)

# Lab 2-6

In [ ]:
street = "서울시 종로구"
st = "아파트"
num_of_room = 3
price = 100000000

print("#" * 50)
print("#" + " " * 48 + "#")
print("#" + " 부동산 매물 광고" + " " * (43 - len(" 부동산 매물 광고")) + "#")
print("#" + " " * 48 + "#")
print("#" * 50)
print("")
print(street +"에 위치한 아주 좋은 " + st + "가 매물로 나왔습니다. 이 " + st +"는 " + str(num_of_room) + "개의 방을 가지고 있으며 가격은 " + str(price) +" 입니다." )